.global-container {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    padding: 40px;
    background-color: white;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}